#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Anything that is inside of "App" will show up here */

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* this header is the replacement for "App" above. It is called "Header" file  */

/* this header is the replacement for "App" above. It is called "Header" file  */
/* This is within the "Header" file  */
.logo {
  height: 100%;
  width: 100%;
  will-change: filter;
  align-items: center;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
/* This is within the "Header" file  */
/* What is within "ClickBait" will show up here  */
.card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: space-evenly;
}

/* What is within "ClickBait" will show up here  */
/* What is within "GetNames" will show up here  */
.container {
  background-color: red;
  text-align: center;
}
/* What is within "GetNames" will show up here  */
/* What is within "Footer" will show up here  */
.footer {
  background-color: #0c65f4;
  color: #8597b5;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  height: 100%;  
}
/* What is within "Footer" will show up here  */
/* Common style for button  */
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
/* Common style for button  */
/* Common style for body and h1  */
body {
  margin: 0 auto;
  display: flex;
  place-items: center;
  flex-direction: row;
}

h1 {
  font-size: 2.1em;
  line-height: 1.1;
}
h2 { 
  text-align: center;
}
/* Common style for body and h1, h2  */

/* Anything that is inside of "App" will show up here */