#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Anything that is inside of "App" will show up here */

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* this header is the replacement for "App" above. It is called "Header" file  */
.header {
  width: 100%;
  height: 100%;
}
/* this header is the replacement for "App" above. It is called "Header" file  */
/* This is within the "Header" file  */
.logo {
  height: 100%;
  width: 100%;
  will-change: filter;
  align-items: center;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
/* This is within the "Header" file  */
/* What is within "ClickBait" will show up here  */
.card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: space-evenly;
}

/* What is within "ClickBait" will show up here  */
/* What is within "GetNames" will show up here  */
.container {
  display: flex;
  flex-direction: column;
  background-color: red;
  text-align: center;
}
/* What is within "GetNames" will show up here  */

/* Anything that is inside of "App" will show up here */